
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');




h1,h2,h3,nav,footer {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}



p, form, button {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  

